body{
    padding: 10px 50px;
    box-sizing: border-box;
     width: 950px;
    margin: auto;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.gallery-item{
    position: relative;
    overflow: hidden;
}
.gallery-item img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.gallery-item:hover img{
    transform: scale(1.05);
}
